html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'),
    url('../fonts/OpenSansRegular.woff2') format("woff2");
    url('../fonts/OpenSansRegular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'),
  url('../fonts/OpenSansSemiBold.woff2') format("woff2");
  url('../fonts/OpenSansSemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Light'),
  url('../fonts/OpenSansLight.woff2') format("woff2");
  url('../fonts/OpenSansLight.woff') format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	min-width: 1200px;
	font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.flex {
	display: flex;
}

.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.section-desc {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

/*header*/

.header {
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
}

.header-container {
  align-items: center;
  background-color: #fff;
}

.header-link {
  font-weight: 600;
  color: #1c1c1c;
  font-size: 15px;
}

.header-logo {
  margin-right: auto;
}

.header-nav {
  margin-right: 52px;
}

.header-item:not(:last-child) {
  margin-right: 52px;
}

.btn {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px 35px;
  background-color: #3172b9;
  color: #fff;
  border-radius: 3px;
}

/*hero*/

.hero {
  padding-top: 113px;
  padding-bottom: 134px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  max-width: 45%;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
  color: #1c1c1c;
}

.hero-desc {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero-btn {
  margin-bottom: 14px;
  min-width: 250px;
  padding: 20px 0;
}

.hero-wrapper {
  flex-direction: column;
  align-items: center;
}

.hero-secure {
  font-weight: 400;
  font-size: 11px;
  line-height: 155%;
  text-transform: uppercase;
  color: #787878;
  background-image: url("../img/hero-secure.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px 17px;
  padding-left: 30px;
}

/*services*/

.services {
  border-bottom: 1px solid #dadada;
}

.services-title {
  text-align: center;
  margin: 0;
  margin-bottom: 21px;
}
.services-desc {
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.services-item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: 270px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.services-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services-item-icon {
  margin-bottom: 25px;
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
}

.services-item-desc {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
}

/*articles*/

.articles {
  border-bottom: 1px solid #dadada;
}

.articles-list {
  flex-wrap: wrap;
}

.articles-item {
  width: 570px;
  margin-bottom: 30px;
}

.articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview {
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.blog-preview-img {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
}

.blog-preview-desc {
  margin: 0;
  max-width: 210px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
}

/*clients*/

.clients {
  border-bottom: 1px solid #dadada;
}

.clients-item {
  flex-direction: column;
  width: 370px;
  padding: 50px 36px;
  padding-bottom: 30px;
  border: 1px solid #6b6b6b;
  border-radius: 5px;
}

.clients-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients-item-desc {
  margin: 0;
  margin-bottom: 33px;
  max-width: 281px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients-user {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid #dadada;
  padding-top: 28px;
}

.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients-avatar img {
  height: 100%;
  width: 100%;
  border: 2px solid #3172b9;
  border-radius: 100%;
}

.clients-name {
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.clients-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/*contacts*/

.contacts {
  border-bottom: 1px solid #dadada;
}

.contacts-address {
  font-style: normal;
}

.contacts-item {
  flex-direction: column;
  width: 370px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  padding-top: 48px;
}

.contacts-item-address {
  background-image: url("../img/location.svg");
}

.contacts-item-phone {
  background-image: url("../img/phone.svg");
}

.contacts-item-mail {
  background-image: url("../img/mail.svg");
}


.contacts-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.contacts-item-caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;

}

.contacts-item-text {
  margin: 0;
  max-width: 214px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/*join-us*/

.join-us {
  border-bottom: 1px solid #dadada;
}

.join-us-title {
  text-align: center;
  margin-bottom: 22px;
}

.join-us-desc {
  text-align: center;
  margin-bottom: 30px;
}

.form {
  padding-left: 55px;
  padding-right: 55px;
}

.form-input {
  border: 1px solid #dadada;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
}

.form-select {
  border: 1px solid #dadada;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
}

.form-textarea {
  border: 1px solid #dadada;
  border-radius: 20px;
  box-sizing: border-box;
  resize: none;
  padding: 16px 28px;
  width: 100%;
  height: 100%;
}

.form-top {
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-left {
  width: 49%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-right {
  width: 49%;
}

.form-bottom {
  justify-content: flex-end;
}

.form-wrapper {
  flex-direction: column;
  align-items: center;
}

.form-btn {
  min-width: 230px;
  padding: 20px 0;
  border-radius: 50px;
  margin-bottom: 9px;
}

.form-label {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.form-label input {
  margin-right: 8px;
}

.form-label a {
  color: #3172b9;
  border-bottom: 1px solid #3172b9;
}

.bottom {
  margin-bottom: 19px;
}

/*footer*/

.footer {
  padding: 42px 0;
}

.footer-nav {
  margin-right: 56px;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-item:not(:last-child) {
  margin-right: 28px;
}

.footer-item-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #787878;
}

.footer-left-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-item:not(:last-child) {
  margin-right: 32px;
}

.social-link-tw {
  background-image: url("../img/footer-tw.svg");
}

.social-link-linkedin {
  background-image: url("../img/footer-linkedin.svg");
}

.social-link-mail {
  background-image: url("../img/footer-mail.svg");
}


